.pss {
    margin-bottom: 30px;
}
.pss-row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.stats-info span {
    font-weight: bold;
    font-size: 1em;
}
.stats-info p {
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    .stats-info span {
        font-size: 1.3em;
    }
    .stats-info p {
        font-size: 1em;
    }
}
@media screen and (max-width: 425px) {
    .stats-info {
        margin: 20px 0;
    }
}