.bndb-media {
    margin: 3%;
}
.bndb-media p {
    font-size: 0.9em;
}
.bndb-example p {
    text-indent: 5%;
}
.bndb-example .media {
    width: 80%;
    margin: 20px auto;
}
.bndb-intro p {
    margin: 15px 0;
    text-indent: 5%;
    line-height: 30px;
}