.pib {
    margin: 20px 0;
}
.display-partners-type p{
    font-size: 0.9em;
}
.page-header {
    margin: 20px 0;
}

@media screen and (max-width: 425px) {
    .display-partners-type .media {
        margin: 10px 0;
    }
}