.black {
  color: black;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: #e5ad29;
}
.page-header{
  margin-top: 30px;
}
.page-header h1 {
  margin-bottom: 0;
}
.indent {
  text-indent: 5%;
}

.vcenter {
  display: flex;
  align-items: center;
}
.margin-3 {
  margin: 30px 0;
}

.margin-top-2 {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-size: 0.8em;
}

@media screen and (max-width: 425px){
  .vcenter {
    display: table;
  }
  .no-pad-col-425 {
    padding: 0;
  }
}